.button {
  min-width: 20rem;
  padding: 1.2rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 0.8rem;
  border: none;
  background: var(--color-dark-blue);
  color: var(--color-white);
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 0.8s ease-out;
}
.button:hover {
  background: var(--color-white);
  color: var(--color-dark-blue);
  text-shadow: none;
}