*, *:before, *:after {box-sizing:border-box;}
:root {
    --color-dark-blue: #02273f;
    --color-lite-blue: rgba(2, 39, 63, 0.3);
    --color-blue: #1e6da0;
    --color-white: #cce4f4;
}
html{
    font-size: 10px;
}
body {
    font-family: "Roboto", sans-serif;
    background: var(--color-blue);
    overflow-x: hidden;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 10rem 2rem;
}